html {
	height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#root {
	max-width: 500px;
	overflow: hidden;
	font-size: large;
	margin: 1em;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #e3e3e3;
}

#log-panel {
	font-family: monospace;
	flex-grow: 1;
	overflow-y: scroll;
	display: flex;
	flex-direction: column-reverse;
	overflow-x: hidden;
	overflow-y: scroll;
}

.log-row {
	display: flex;
	flex-direction: row;
	margin: 0.2em;
}

.log-row-text {
	font-style: italic;
}