html {
	height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#root {
	overflow: hidden;
	font-size: large;
	margin: 1em;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #e3e3e3;
}

#log-panel {
	font-family: monospace;
	flex-grow: 1;
	overflow-y: scroll;
	display: flex;
	flex-direction: column-reverse;
	overflow-x: hidden;
	overflow-y: scroll;
}

/*#log-panel  > :first-child {
    margin-top: auto !important;
}*/

.log-row {
	display: flex;
	flex-direction: row;
	margin: 0.2em;
	background-color: #ebebeb;
}

.log-row-user {
	display: flex;
	flex-direction: row;
}

.log-row-user-icon {
	width: 1em;
	margin-right: 0.2em;
	border-radius: 0.3em;
}

.log-row-user-name {
	font-weight: bold;
	margin-right: 0.3em;
}

.log-row-text {
	font-style: italic;
}

.log-row-dice {
	display: flex;
	flex-direction: column;
}

.log-row-dice-caption {
	font-family: monospace;
}

.log-row-dice-lotok {
	display: flex;
	flex-direction: row;
}

.log-row-dice-lotok-item {
	display: flex;
	flex-direction: column;
	border: solid 1px black;
	border-radius: 0.5em;
	align-items: center;
	margin: 0.1em;
	padding: 0.2em;
	min-width: 4em;
}

.log-row-dice-lotok-caption {
	font-size: 0.8em;
	margin-bottom: 0.2em;
}