@import "./dicepad/dicepad.css";

html {
	height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: monospace;
}

.red {
	color: red;
}

.green {
	color: green;
}

#root {
	max-width: 500px;
	overflow: hidden;
	font-size: large;
	margin: 1em;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
}

#sandbox {
	flex-grow: 1;
	position: relative;
}

.sandbox-tab {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#log-panel {
	display: flex;
	flex-direction: column-reverse;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0.5em;
}

#notify-panel {
	overflow: hidden;
	display: flex;
	flex-direction: column-reverse;
	left: auto;
	/*width: 15em;*/
	align-items: flex-end;
}

.filler-grow {
	flex-grow: 1;
}