.dice-pack-log-row-formula {
	display: inline;
}

.dice-pack-log-row-formula:hover {
	cursor: pointer;
	color: blue;
}

.dice-pack-log-row-seporator {
	display: inline;
}

.dice-pack-log-row-summa {
	display: inline;
}

.dice-pack-log-row-summa:hover {
	cursor: pointer;
	color: green;
}

.dice-pack-log-row {
	display: inline;
}