#dicepad-panel {}

#dicepad-input {
    display: flex;
    flex-direction: row;
    margin: 0 1.5em;
    padding: 0.4em;
    border: solid 1px black;
    border-radius: 0.4em;
    background-color: #f7f7f7;
    flex-wrap: wrap;
}

.dark #dicepad-input {
    border-color: white;
    background-color: rgb(73 73 73);
}

#dicepad-input-cap {
    margin-left: 0.4em;
    font-family: cursive;

}

#dicepad-input-val {
    flex-grow: 1;
    background-color: white;
    color: rgb(128, 128, 128);
    padding: 0.2em 0.3em;
    margin: 0 0.4em;
    border: solid 1px burlywood;
}

#dicepad-input-btn-clean {
    margin: 0 0.2em;
    display: none;
}

#dicepad-input-btn-roll {
    margin: 0 0.2em;
    font-family: cursive;
    font-size: medium;
    width: 5em;
}

#dicepad-picker {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.dicepad-picker-btn {
    width: 5em;
    height: 5em;
    background-color: transparent;
    border: none;
}

.dicepad-picker-btn:hover {
    cursor: pointer;
}

.dicepad-picker-btn img {
    width: 4em;
    height: 4em;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
}

.dark .dicepad-picker-btn img {
    filter: drop-shadow(5px 5px 5px rgba(150, 150, 150, .7));
}

.dicepad-picker-btn:hover img {
    width: 4.5em;
    height: 4.5em;
    filter: drop-shadow(0 0 1em rgba(0, 0, 0, 1));
}

.dark .dicepad-picker-btn:hover img {
    filter: drop-shadow(5px 5px 5px rgba(150, 150, 150, 1));
}

.dicepad-picker-btn:active img {
    width: 3.5em;
    height: 3.5em;
    filter: drop-shadow(0 0 1em rgba(0, 0, 0, 1));
}

.dark .dicepad-picker-btn:active img {
    filter: drop-shadow(5px 5px 5px rgba(150, 150, 150, 1));
}