.notify-root {
	position: absolute;
	right: 1em;
	bottom: 1em;
	top: 1em;
	display: flex;
	flex-direction: column-reverse;
}

.notify-block-icon {
	width: 1em;
	margin-right: 0.2em;
	border-radius: 0.3em;
}

.notify-block-name {
	font-weight: bold;
	margin-right: 0.3em;
}

.notify-block-cap {
	display: flex;
	flex-direction: row;
}

.notify-block-panel {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5em;
	width: 100%;
}

.notify-block {
	display: flex;
	flex-direction: row;
	margin: 0 0.5em 0.5em 0;
	background-color: #f7f7f7;
}

.notify-inner-text {
	color: black;
}

.notify-inner-dicepack {
	color: black;
	display: flex;
	flex-wrap: wrap;
}

.notify-inner-dicepack-group-cap {
	text-align: center;
	margin: 0 1em;
	font-weight: bold;
}

.notify-inner-dicepack-group-val {
	text-align: center;
	margin: 0.3em 1em;
}

.notify-inner-dicepack-group {
	margin: 0.4em;
	border: solid 1px burlywood;
	border-radius: 0.4em;
}